/docs export-ignore
/.env* export-ignore
/.github export-ignore
/.gitignore export-ignore
/.graphql-generated export-ignore
/.htaccess export-ignore
/.phpunit.cache export-ignore
/.playwright-cli export-ignore
/artifacts export-ignore
/output export-ignore
/app export-ignore
/behat.yml export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/public export-ignore
/tests export-ignore
/themes export-ignore
/vendor export-ignore
